QtArduino-build-desktop-Qt_4_8_1__gcc__Debug/Makefile
QtArduino-build-desktop-Qt_4_8_1__gcc__Debug/QtArduino.app/Contents/Info.plist
QtArduino-build-desktop-Qt_4_8_1__gcc__Debug/QtArduino.app/Contents/MacOS/QtArduino
QtArduino-build-desktop-Qt_4_8_1__gcc__Debug/QtArduino.app/Contents/PkgInfo
QtArduino-build-desktop-Qt_4_8_1__gcc__Debug/QtArduino.app/Contents/Resources/empty.lproj
QtArduino-build-desktop-Qt_4_8_1__gcc__Debug/main.o
QtArduino-build-desktop-Qt_4_8_1__gcc__Debug/mainwindow.o
QtArduino-build-desktop-Qt_4_8_1__gcc__Debug/moc_mainwindow.cpp
QtArduino-build-desktop-Qt_4_8_1__gcc__Debug/moc_mainwindow.o
QtArduino-build-desktop-Qt_4_8_1__gcc__Debug/ui_mainwindow.h
